/* =============
General 
================*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}


/*=================
Variables Core
===================*/

    /*Gray*/
    $gray-100: #f6f2ec; 
    $gray-100-A-1: #f6f2ec01;
    $gray-900: #1a1a1a;

    /*Yellow*/
    $yellow-100:#fff3cd;
    $yellow-200:#fee69b;
    $yellow-300:#feda68; 
    $yellow-400:#fdcd36;
    $yellow-500:#fdc104;
    $yellow-600:#eab200;

    /*Maroon*/
    $maroon-100:#dfccd4;
    $maroon-200:#c09aa9;
    $maroon-300:#a0677e;
    $maroon-400:#813553;
    $maroon-500:#610228;
    $maroon-500-A-80:#610228cc;

    /*Brown*/
    $brown-100:#d6d0ce;
    $brown-200:#aea19d;
    $brown-300:#85726d;
    $brown-400:#5d433c;
    $brown-500:#34140b;
    $brown-500-A-60:#34140b99;
    $brown-500-A-30: #34140b30;
    $brown-500-A-10: #34140b10;
    
/*==================
Variables Tockens
====================*/

/*Color*/

    /*Text*/
    $text-primary: $brown-500;
    $text-invert: $gray-100;
    $text-brand:$yellow-500; 
    $text-secondary:$brown-300;

    /*Background*/
    $background-primary: $gray-100;
    $background-secondary: $brown-500;
    $background-brand: $maroon-500; 
    $background-brand2: $yellow-500;
    $background-warning:$yellow-100;

    /*Border*/
    $border-primary: $brown-500;
    $border-secondary: $maroon-100;
    $border-brand: $yellow-500; 

    /*Effects*/
    $effects-brand-a:$maroon-500-A-80; 
    $effects-brown-a:$brown-500-A-60; 
    $effects-transparent: $gray-100-A-1; 

    /*Illustrations*/
    $illustrations-primary: $gray-100;
    $illustrations-secondary: $brown-500; 
    $illustrations-maroon-dark:$maroon-400;
    $illustrations-maroon:$maroon-300;
    $illustrations-maroon-light:$maroon-100;
    $illustrations-brand-yellow:$yellow-200;
    
    /*Highlights*/
    $highlights-primary:$maroon-100;
    $highlights-primary-dark: $maroon-500;
    $hightlights-brand: $yellow-500;

    /*Logo*/
    $logo-primary: $gray-900; 
    $logo-invert: $gray-100; 

    /*Button*/

        /*Outlined*/
            /*Primary*/
            $btn-outlined-primary-border:$brown-500; 
            $btn-outlined-primary-text:$brown-500; 
            $btn-outlined-primary-icon:$brown-500; 
            $btn-outlined-primary-hover:$brown-500-A-10; 

            /*Secondary*/
            $btn-outlined-secondary-border: $gray-100; 
            $btn-outlined-secondary-text: $gray-100; 
            $btn-outlined-secondary-icon: $gray-100;
            $btn-outlined-secondary-hover:$brown-500-A-30;  

        /*Filled*/
            /*Primary*/
            $btn-filled-primary-bg:$yellow-500; 
            $btn-filled-primary-text:$gray-900; 
            $btn-filled-primary-icon:$gray-900; 
            $btn-filled-primary-hover:$yellow-600;
        
        /*Text*/
        $btn-text-text: $brown-500;
        $btn-text-icon: $brown-500; 

/*Spacing*/
    $spacing-none:0px; 
    $spacing-xs: 1px; 
    $spacing-sm: 2px; 
    $spacing-md: 4px; 
    $spacing-lg: 8px; 
    $spacing-xl: 10px; 
    $spacing-2xl: 12px; 
    $spacing-3xl: 16px; 
    $spacing-4xl: 20px; 
    $spacing-5xl: 24px; 
    $spacing-6xl: 28px; 
    $spacing-7xl: 32px; 
    $spacing-8xl: 40px; 
    $spacing-9xl: 48px; 
    $spacing-10xl: 56px; 
    $spacing-11xl: 64px; 
    $spacing-12xl: 72px; 
    $spacing-13xl: 80px; 

/*Border-radius*/
    $border-radius-none: 0px; 
    $border-radius-xs: 8px; 
    $border-radius-sm: 12px;
    $border-radius-md: 20px;
    $border-radius-lg: 38px;
    $border-radius-full: 100000px;

/*Border*/
    $border-none: 0px; 
    $border-xs: 0.5px;
    $border-sm: 1px; 
    $border-md: 1.5px;
    $border-lg: 2px;
    $border-xl: 3px;
    $border-2xl: 4px;


/*==================
Breakpoints 
====================*/

$breakpoint-desktop: 1025px; 
$breakpoint-tablet: 769px;
$breakpoint-mobile: 572px; 

/*==================
Button 
====================*/

.button {
    border-radius: $border-radius-full;
    padding: $spacing-2xl $spacing-8xl;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: none;
    cursor: pointer;

    .button__icon {
        transition: all .3s ease;
    }

    &:hover {
        .button__icon {
            transform: translateX(10px);
        }
    }
}

.button--filled {
    background: $btn-filled-primary-bg;      
    color: $btn-filled-primary-text;  
    fill: $btn-filled-primary-icon;

    &:hover {
        background-color: $yellow-600;
    }
}

.button--outlined {
    
    position: relative;
    background: transparent;
    border: none;
    outline: none;

    &:hover{
        background-color: $btn-outlined-primary-hover;
    }
    

    .button__content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .button__border {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        pointer-events: none;
        overflow: visible;
        aspect-ratio: none;
    }
    .long-btn{
        transform: scaleX(1.30);
    }

}



@media (max-width: $breakpoint-mobile) {
.button--outlined{
    .button {
        padding: $spacing-2xl $spacing-6xl;
    }
    .long-btn{
        transform: scaleX(1.2);
    }
}
}

.panik{
    padding: $spacing-lg $spacing-5xl;
    display: flex;
    align-items: center;
    gap:$spacing-lg;
    background-color: #FEDA68;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    border: none;
    border-radius: $border-radius-none $border-radius-md $border-radius-md $border-radius-md;
    position: fixed;
    right: 48px;
    top:668px;
    z-index: 1000000;
    cursor: pointer;

    h6{
        color: $text-primary;
    }

    .exit-icon{
        color: $text-primary;
    }
}
@media (max-width: $breakpoint-mobile) {
    .panik {
        padding: $spacing-2xl $spacing-2xl;
    }
    h6{
        margin: 0px;
    }
}

/*==================
Highlight 
====================*/

.highlight-content{
    position: relative;
    display: inline-flex;
    align-items: center;
    /*justify-content: center;*/
    padding: 0.05em 0.18em;
    white-space: nowrap;
    vertical-align: baseline;

    .highlight {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        pointer-events: none;
        object-fit: fill;
        overflow: visible;
        transform: scaleX(1.05);
    }

    .text{
    position: relative;
    z-index: 1;
    color: $text-primary;
    }

    
}

.highlight-header{
    font-size: 2rem;
    position: relative;
    display: inline-block;
    padding: 0.5rem 0.15rem;

    .highlight-bg{
        position: absolute;
        width: 100%;
        z-index: -1;
        inset: 0;
        height: 100%;
        object-fit: cover;
        transform: scaleX(1.05);
    }
}

/*==================
Icon 
====================*/
.icon{
    width: 24px;
    height: 24px;
    padding: auto;
}
.primary{
    fill: $text-primary;
}

.invert{
    color:$btn-outlined-secondary-border;
}










