/*==================
Breakpoints 
====================*/

$breakpoint-desktop: 1440px; 
$breakpoint-tablet: 769px;
$breakpoint-mobile: 572px;


/*Font*/

    /*Delicious Handrawn*/
    @import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

    .delicious-handrawn-regular {
        font-family: "Delicious Handrawn", cursive;
        font-weight: 400;
        font-style: normal;
    }

    /*Buenos Aires*/

        /*Regular*/
            @font-face {
            font-family: 'BuenosAires';          
            src: url('../font/buenosaires/BuenosAires-Regular.ttf') format('truetype');
            font-weight: 500;
            font-style: normal;
            }

        /*Book*/
            @font-face {
            font-family: 'BuenosAires';          
            src: url('../font/buenosaires/BuenosAires-Book.ttf') format('truetype');
            font-weight: 400;
            font-style: normal;
            }
        
        /*Black*/
            @font-face {
            font-family: 'BuenosAires';          
            src: url('../font/buenosaires/BuenosAires-Black.ttf') format('truetype');
            font-weight: 900;
            font-style: normal;
            }

/*Font-familly*/
    $decor: "Delicious Handrawn";    
    $heading: "BuenosAires"; 
    $body: "BuenosAires"; 

/*Font-size*/
    $font-size-2xs: 10px; 
    $font-size-xs: 12px; 
    $font-size-sm:14px; 
    $font-size-md: 16px; 
    $font-size-lg: 18px; 
    $font-size-xl: 20px; 
    $font-size-2xl:24px; 
    $font-size-3xl:30px; 
    $font-size-4xl: 36px; 
    $font-size-5xl: 48px; 
    $font-size-6xl:64px;
    $font-size-huge: 74px; 

/*Font-weight*/
    $book: 400; 
    $black: 900; 
    $regular: 500; 

/*Line-height*/
    $line-height-2xs:12px; 
    $line-height-xs: 14px; 
    $line-height-sm: 16px; 
    $line-height-md: 18px; 
    $line-height-lg: 20px; 
    $line-height-xl: 24px; 
    $line-height-2xl: 28px; 
    $line-height-3xl: 32px; 
    $line-height-4xl: 36px; 
    $line-height-5xl: 40px; 
    $line-height-6xl: 48px; 
    $line-height-7xl: 58px;
    $line-height-8xl:72px;
    $line-height-huge: 80px; 

/*=========================
Styles
===========================*/

/*Heading*/

.heading-huge{
    font-family: $heading;
    font-weight: $black;
    font-size: $font-size-huge ;
    line-height: $line-height-huge;
}

.heading-5xl{
    font-family: $heading;
    font-weight: $black;
    font-size: $font-size-5xl ;
    line-height: $line-height-7xl;
}

.heading-4xl{
    font-family: $heading;
    font-weight: $black;
    font-size: $font-size-4xl ;
    line-height: $line-height-6xl;
}

.heading-3xl{
    font-family: $heading;
    font-weight: $black;
    font-size: $font-size-3xl ;
    line-height: $line-height-5xl;
}

.heading-2xl{
    font-family: $heading;
    font-weight: $black;
    font-size: $font-size-2xl ;
    line-height: $line-height-3xl;
}

.heading-xl{
    font-family: $heading;
    font-weight: $black;
    font-size: $font-size-xl ;
    line-height: $line-height-2xl;
}

.heading-lg{
    font-family: $heading;
    font-weight: $black;
    font-size: $font-size-lg;
    line-height: $line-height-xl;
}

.heading-md{
    font-family: $heading;
    font-weight: $black;
    font-size: $font-size-md ;
    line-height: $line-height-lg;
}

@media (max-width:$breakpoint-tablet){
    .heading-huge{
    font-family: $heading;
    font-weight: $black;
    font-size: $font-size-6xl;
    line-height: $line-height-8xl;
    }

    .heading-5xl{
        font-family: $heading;
        font-weight: $black;
        font-size: $font-size-4xl ;
        line-height: $line-height-6xl;
    }

    .heading-4xl{
        font-family: $heading;
        font-weight: $black;
        font-size: $font-size-3xl;
        line-height: $line-height-5xl;
    }

    .heading-3xl{
        font-family: $heading;
        font-weight: $black;
        font-size: $font-size-2xl ;
        line-height: $line-height-3xl;
    }

    .heading-2xl{
        font-family: $heading;
        font-weight: $black;
        font-size: $font-size-xl ;
        line-height: $line-height-2xl;
    }

    .heading-xl{
        font-family: $heading;
        font-weight: $black;
        font-size: $font-size-lg ;
        line-height: $line-height-xl;
    }

    .heading-md{
        font-family: $heading;
        font-weight: $black;
        font-size: $font-size-sm ;
        line-height: $line-height-md;
    }

}

@media (max-width:$breakpoint-mobile){
    .heading-huge{
    font-family: $heading;
    font-weight: $black;
    font-size: $font-size-4xl;
    line-height: $line-height-6xl;
    }

    .heading-5xl{
        font-family: $heading;
        font-weight: $black;
        font-size: $font-size-4xl ;
        line-height: $line-height-6xl;
    }

    .heading-4xl{
        font-family: $heading;
        font-weight: $black;
        font-size: $font-size-2xl ;
        line-height: $line-height-3xl;
    }

    .heading-3xl{
        font-family: $heading;
        font-weight: $black;
        font-size: $font-size-xl ;
        line-height: $line-height-2xl;
    }

    .heading-2xl{
        font-family: $heading;
        font-weight: $black;
        font-size: $font-size-lg ;
        line-height: $line-height-xl;
    }

    .heading-xl{
        font-family: $heading;
        font-weight: $black;
        font-size: $font-size-sm ;
        line-height: $line-height-md;
    }

    .heading-md{
        font-family: $heading;
        font-weight: $black;
        font-size: $font-size-sm ;
        line-height: $line-height-md;
    }

}

/*Preamble*/

.preamble-5xl{
    font-family: $body;
    font-weight: $regular;
    font-size: $font-size-5xl;
    line-height: $line-height-7xl;
}

.preamble-3xl{
    font-family: $body;
    font-weight: $regular;
    font-size: $font-size-3xl;
    line-height: $line-height-5xl;
}

.preamble-lg{
    font-family: $body;
    font-weight: $regular;
    font-size: $font-size-lg ;
    line-height: $line-height-2xl;
}

.preamble-md{
        font-family: $body;
        font-weight: $regular;
        font-size: $font-size-md ;
        line-height: $line-height-xl;
    } 

@media (max-width:$breakpoint-tablet){
    .preamble-5xl{
    font-family: $body;
    font-weight: $regular;
    font-size: $font-size-4xl;
    line-height: $line-height-6xl;
    }

    .preamble-3xl{
        font-family: $body;
        font-weight: $regular;
        font-size: $font-size-2xl;
        line-height: $line-height-4xl;
    }

    .preamble-lg{
        font-family: $body;
        font-weight: $regular;
        font-size: $font-size-md ;
        line-height: $line-height-xl;
    } 
    
    .preamble-md{
        font-family: $body;
        font-weight: $regular;
        font-size: $font-size-sm ;
        line-height: $line-height-lg;
    } 
}

@media (max-width:$breakpoint-mobile){
    .preamble-5xl{
    font-family: $body;
    font-weight: $regular;
    font-size: $font-size-2xl;
    line-height: $line-height-4xl;
    }

    .preamble-3xl{
        font-family: $body;
        font-weight: $regular;
        font-size: $font-size-xl;
        line-height: $line-height-2xl;
    }

    .preamble-lg{
        font-family: $body;
        font-weight: $regular;
        font-size: $font-size-sm ;
        line-height: $line-height-xl;
    }  

     .preamble-md{
        font-family: $body;
        font-weight: $regular;
        font-size: $font-size-sm ;
        line-height: $line-height-lg;
    } 
}

/*Body*/
    /*Book*/
     .book-xl{
        font-family: $body;
        font-weight: $book;
        font-size: $font-size-2xl;
        line-height: $line-height-3xl;
    }

    .book-lg{
        font-family: $body;
        font-weight: $book;
        font-size: $font-size-lg;
        line-height: $line-height-2xl;
    }

    .book-md{
        font-family: $body;
        font-weight: $book;
        font-size: $font-size-md;
        line-height: $line-height-xl;
    }

    .book-sm{
        font-family: $body;
        font-weight: $book;
        font-size: $font-size-sm;
        line-height: $line-height-lg;
    }

@media (max-width:$breakpoint-tablet){
       .book-xl{
        font-family: $body;
        font-weight: $book;
        font-size: $font-size-2xl;
        line-height: $line-height-3xl;
    }

    .book-lg{
        font-family: $body;
        font-weight: $book;
        font-size: $font-size-md;
        line-height: $line-height-xl;
    }

    .book-md{
        font-family: $body;
        font-weight: $book;
        font-size: $font-size-sm;
        line-height: $line-height-lg;
    }

    .book-sm{
        font-family: $body;
        font-weight: $book;
        font-size: $font-size-sm;
        line-height: $line-height-lg;
    }
}

@media (max-width:$breakpoint-mobile){
       .book-xl{
        font-family: $body;
        font-weight: $book;
        font-size: $font-size-lg;
        line-height: $line-height-2xl;
    } 

    .book-lg{
        font-family: $body;
        font-weight: $book;
        font-size: $font-size-md;
        line-height: $line-height-xl;
    }

    .book-md{
        font-family: $body;
        font-weight: $book;
        font-size: $font-size-xs;
        line-height: $line-height-sm;
    }

    .book-sm{
        font-family: $body;
        font-weight: $book;
        font-size: $font-size-sm;
        line-height: $line-height-lg;
    }
}

    /*Black*/
    .black-lg{
        font-family: $body;
        font-weight: $black;
        font-size: $font-size-lg;
        line-height: $line-height-2xl;
    }

    .black-md{
        font-family: $body;
        font-weight: $black;
        font-size: $font-size-md;
        line-height: $line-height-xl;
    }

    .black-sm{
        font-family: $body;
        font-weight: $book;
        font-size: $font-size-sm;
        line-height: $line-height-lg;
    }

@media (max-width:$breakpoint-tablet){
    .black-lg{
        font-family: $body;
        font-weight: $black;
        font-size: $font-size-md;
        line-height: $line-height-xl;
    }

    .black-md{
        font-family: $body;
        font-weight: $black;
        font-size: $font-size-sm;
        line-height: $line-height-lg;
    }

    .black-sm{
        font-family: $body;
        font-weight: $black;
        font-size: $font-size-xs;
        line-height: $line-height-md;
    }
}

@media (max-width:$breakpoint-mobile){
    .black-lg{
        font-family: $body;
        font-weight: $black;
        font-size: $font-size-md;
        line-height: $line-height-xl;
    }

    .black-md{
        font-family: $body;
        font-weight: $black;
        font-size: $font-size-xs;
        line-height: $line-height-sm;
    }

    .black-sm{
        font-family: $body;
        font-weight: $black;
        font-size: $font-size-sm;
        line-height: $line-height-lg;
    }
}


/*Decor*/
.decor-md{
    font-family: $body;
    font-size: $font-size-3xl;
    line-height: $line-height-4xl;
}

@media (max-width:$breakpoint-tablet){
    .decor-md{
    font-family: $body;
    font-size: $font-size-3xl;
    line-height: $line-height-4xl;
    }
}

@media (max-width:$breakpoint-mobile){
    .decor-md{
    font-family: $body;
    font-size: $font-size-2xl;
    line-height: $line-height-3xl;
    }
}

    


