@import 'bases';       
@import 'typography';

.hero{
    width: 100vw;
    height: 29rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: $spacing-13xl $spacing-9xl;
    position: relative;

    .in-danger{
        width: 20%;
        margin-left: auto;
        display:flex;
        flex-direction: column;
        gap: $spacing-sm;

        padding: $spacing-lg $spacing-4xl;
        border-radius: $border-radius-md $border-radius-md $border-radius-md $border-radius-none;
        background-color:$background-warning ;
    }
    .hero-information{
        width: 50%;
        padding:$spacing-5xl;
        background-color: $effects-brown-a;
        backdrop-filter: blur(25px);
        border-radius: $border-radius-lg;
        position: absolute;
        bottom:-100px;

        display: flex;
        flex-direction: column;
        gap: $spacing-xl;
        color: $text-invert;

    }

    .hero-information-activity{
        width: 50%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        padding:$spacing-5xl;
        background-color: $effects-brand-a;
        backdrop-filter: blur(25px);
        border-radius: $border-radius-lg;
        position: absolute;
        bottom:-400px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $spacing-4xl;

        .activity-coordinates{
            display: flex;
            flex-direction: column;
            gap: $spacing-4xl;
            align-items: flex-start;

            .iconxl{
                width: 48px;
                height: 48px;
            }
            
            .underline{
                text-decoration: underline;
            }

            .info-onelign{
            display: flex;
            justify-content: flex-start;
            gap: $spacing-lg;
            align-items: center;
            }

            .info-twolign{
                display: flex;
                gap: $spacing-lg;
                align-items: center;

                .detail-information{
                    display: flex;
                    flex-direction: column;
                    gap:$spacing-lg;
                }
            }
        }  
    }
}
.for-barn{
    background-image: url(../img/pictures/för-barn-och-unga-hero.png);
}

.stodverksamhet{
    background-image: url(../img/pictures/stodverksamhet-hero.png);
}

.trygga-hang{
    background-image: url(../img/pictures/trygga-hang-hero.png);
}

.activity{
    background-image: url(../img/pictures/activitiet-hero.webp);
}
@media (max-width:$breakpoint-mobile){
    .hero{
        padding: $spacing-3xl ;
        .in-danger{
            width: 80%;
        }

        .hero-information{
            width: 100%;
        }
    }
}

/*Your right*/
.your-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-3xl;
    padding: $spacing-none $spacing-9xl;
    position: relative;

    .lign{
        width: 90px;
        height: auto;
        fill: $text-primary;
        rotate: -55.72°;
        position: absolute;
    }

    .lign1{
        left: 347.76px;
        top: 126.09px;
    }

    

    .your-right-content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        gap: -6px;
        width: 100%;

        .your-right-item{
            height: 328px;
            width: 305px;
            display: flex;
            flex-direction: column;
            gap:$spacing-2xl; 
            text-align: center;
        }
        .flexstart{
            justify-content: flex-start;
        }

        .flexend{
            justify-content: flex-end;
        }
    }
    .läs-mer{
        align-self: flex-end;
    }
}

@media (max-width:$breakpoint-tablet){
    .your-right{
        .your-right-content{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2,1fr);
        }
    }
}

@media (max-width:$breakpoint-mobile){
   .your-right{ 
    padding: $spacing-none $spacing-3xl;
   }
}


/*Stories*/
.stories{
    display: flex;
    flex-direction: column;
    gap: $spacing-3xl;
    align-items: flex-start;
    padding: $spacing-none $spacing-9xl;
    margin: 7.5rem 0rem;

    .story-cards{
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $spacing-2xl;
        
        .story-card{
            background-image: url(../img/graphic-element/testimonial-card.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            flex: 1;

            display: flex;
            flex-direction: column;
            border-top-left-radius: $border-radius-lg;
            padding: 88px 65px 55px 76px;

            .story-wrapper{
                display: flex;
                gap: -2px;
                .icon-quote{
                    width: 62px;
                    height: 62px;
                    color: $illustrations-brand-yellow;
                }
                .story{
                        width: 80%;
                        flex:1;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        .autor{
                            display: flex;
                        }
                        p{
                            color:$text-invert;
                        }

                    }
            }
        }
    }
    .läs-mer{
        align-self: flex-end;
    }

}
@media (max-width:$breakpoint-tablet){
    .stories{
        .story-cards{
           grid-template-columns: repeat(1, 1fr);
        }
    }
}

@media (max-width:$breakpoint-mobile){
    .stories{
        padding: $spacing-none $spacing-3xl;
        .story-cards{
            .story-card{
                padding: $spacing-5xl $spacing-xl;
            }
        }
    }
}
/*================================================

Stödversamhet

==================================================*/

.different-groups{
    margin-top: 14.75rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: $spacing-4xl;
    justify-content: center;
    align-items: center;
    padding: $spacing-none 155px;

    .group-card{
        height: 100%;
        background-color: $background-brand;
        gap: $spacing-2xl;
        padding: $spacing-5xl $spacing-3xl;
        border-radius: $border-radius-md;
        cursor: pointer;

        .group-title{
            display: flex;
            align-items: center;
            color: $text-invert;
            fill: $text-invert;
        }
        p{
            color: $text-invert;
        }
    }
}

@media (max-width:$breakpoint-tablet){
    .different-groups{
        padding: $spacing-none $spacing-5xl;
    }
}

@media (max-width:$breakpoint-mobile){
    .different-groups{
        padding: $spacing-none $spacing-3xl;
        grid-template-columns: repeat(1, 1fr);
    }
}

/*Information bottom*/
.informations{
    margin-top: 14.75rem;
    padding: $spacing-none $spacing-9xl;
    .information-bottom{
        padding: $spacing-none $spacing-9xl;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10rem;

        .other-information{
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: $spacing-8xl;

            .info-title-and-lign{
                display: flex;
                flex-direction: column;
                align-items: center;
                
                .icon .lign{
                    color: $text-primary;
                }

                .lign{
                    height: 4px;
                    width: 100%;
                }

                .info-title{
                    display: flex;
                }
                p{
                    text-align: center;
                }
            }
        }
    }
}

/*================================================

Trygga-häng

==================================================*/

/*Heart-information*/

.heart-informations{
    padding: $spacing-none $spacing-9xl;
    display: flex;
    justify-content: space-between;
    gap: $spacing-13xl;

    .heart-card{
        width: 25%;
        display:flex;
        flex-direction: column;
        gap: $spacing-2xl;

        .heart-text{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
}

/*Activities*/
.activities{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-3xl;
    padding: $spacing-none $spacing-9xl;
    margin-top: 8.75rem;

    .preamble-lg{
        max-width: 40%
    }
    .cards-activities{
        width: 100%;
        min-height: fit-content;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat (4,1fr);
        gap: $spacing-4xl;

        .activity-card{
            width: 20.063rem;
            height: 26.875rem;
            padding: $spacing-3xl;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            &:first-child{
                background-image: url(../img/pictures/img-prova-på-badminton.webp);
                border-radius: $border-radius-lg $border-radius-none $border-radius-none $border-radius-lg;
            }

            &:nth-child(2){
                background-image:url(../img/pictures/img-grillkväll.webp) ;
            }

            &:nth-child(3){
                background-image: url(../img/pictures/img-skaparverkstad.webp);
            }

            &:nth-child(4){
                background-image: url(../img/pictures/picknikochkubb.webp);
                border-radius:$border-radius-none $border-radius-lg  $border-radius-none $border-radius-none;
            }

            &:nth-child(5){
                background-image: url(../img/pictures/spelkväll.webp);
            }

            &:nth-child(6){
                background-image: url(../img/pictures/prova-pa-drejning.webp);
            }

            &:nth-child(7){
                background-image: url(../img/pictures/browling.webp);
            }

            &:nth-child(8){
                background-image: url(../img/pictures/diy-smycken.webp);
            }

            &:nth-child(9){
                background-image: url(../img/pictures/mello-and-taccos.webp);
                border-radius:$border-radius-none $border-radius-none  $border-radius-none $border-radius-lg;
            }

            &:nth-child(10){
                background-image: url(../img/pictures/kvallbad.webp);
            }

            &:nth-child(11){
                background-image: url(../img/pictures/lar-dig-baka-buller.webp);
            }

            &:nth-child(12){
                background-image: url(../img/pictures/prova-pa-klatring.webp);
                border-radius:$border-radius-none $border-radius-none  $border-radius-lg $border-radius-none;
            }

            .date{
            display: flex;
            flex-direction: column;
            padding: $spacing-md $spacing-lg;

                h3{
                    color: $text-invert;
                    text-align: center;
                }
                .month{
                    font-family: $body;
                    font-size: $font-size-md;
                    line-height:  $line-height-lg;
                    font-weight: 700;
                }
            }
            .highlight-content{
                cursor: pointer;
                display: flex;
                justify-content: flex-start;

                &:hover{
                    .highlight-title{
                        color:$highlights-primary-dark;
                    }
                }

                .highlight-title{
                    color: $effects-brown-a;
                    opacity: 60%;
                    width: 95%;
                    height: 100%;
                    object-fit: cover;
                }
                
                .title-event{
                    display: flex;
                    color: $text-invert;
                    fill: $text-invert;
                } 
            }
        }
    }
    .btn-las-mer{
        display:none;
    }
}

@media (max-width:$breakpoint-tablet) {
    .activities{
        width: 100%;

        .preamble-lg{
            max-width: 80%;
        }

        .cards-activities{
            width: 100%;
            grid-template-columns: repeat (3,1fr);
            
            .activity-card{
                width: 100%;
                height: 430px;

                &:nth-child(+13){
                    display: none;
                }
            }
        }
        .btn-las-mer{
            display: flex;
            align-self: center;
        }
    }
}
@media (max-width:$breakpoint-mobile) {
    .activities{
        padding: $spacing-none $spacing-3xl;;
    }
}

/*================================================

Aktivitet

==================================================*/
.formulaire{
    margin : 35rem auto 20rem auto;
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: $spacing-3xl;

    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: $spacing-2xl;

        .form-utan-btn{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: $spacing-2xl;

            .form-wrapper{
                display: flex;
                justify-content: space-between;
                gap: $spacing-3xl;
                width: 100%;
                position: relative;

                .form-group, .text-area{
                    width: 100%;
                    display: flex;

                    .input-wrapper{
                        min-width: 30px;
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        gap: $spacing-md;
                        position: relative;

                        .border{
                            position: absolute;
                            inset: 0;
                            width: 100%;
                            height: 100%;
                            left: 0;
                            pointer-events: none;
                            overflow: visible;
                            /*aspect-ratio: none;*/
                        }

                        .text-input{
                            width: 100%;
                            padding:$spacing-lg;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: $spacing-md;
                        }

                    }
                }
                .text-input, input{
                    background: transparent;
                    border: none;
                    outline: none;
                    left: 0;
                }

                .form-group{
                    flex-direction: column;
                }
            }
        }
    }

}