@import 'bases';       
@import 'typography';

.hero{
    width: 100vw;
    height: 29rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: $spacing-13xl $spacing-9xl;
    position: relative;

    .in-danger{
        width: 20%;
        margin-left: auto;
        display:flex;
        flex-direction: column;
        gap: $spacing-sm;

        padding: $spacing-lg $spacing-4xl;
        border-radius: $border-radius-md $border-radius-md $border-radius-md $border-radius-none;
        background-color:$background-warning ;
    }
    .hero-information{
        width: 50%;
        padding:$spacing-5xl;
        background-color: $effects-brown-a;
        backdrop-filter: blur(25%);
        border-radius: $border-radius-lg;
        position: absolute;
        bottom:-100px;

        display: flex;
        flex-direction: column;
        gap: $spacing-xl;
        color: $text-invert;

    }
}
@media (max-width:$breakpoint-mobile){
    .hero{
        padding: $spacing-3xl ;
        .in-danger{
            width: 80%;
        }

        .hero-information{
            width: 100%;
        }
    }
}

/*Your right*/
.your-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-3xl;
    padding: $spacing-none $spacing-9xl;
    position: relative;

    .lign{
        width: 90px;
        height: auto;
        fill: $text-primary;
        rotate: -55.72°;
        position: absolute;
    }

    .lign1{
        left: 347.76px;
        top: 126.09px;
    }

    

    .your-right-content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        gap: -6px;
        width: 100%;

        .your-right-item{
            height: 328px;
            width: 305px;
            display: flex;
            flex-direction: column;
            gap:$spacing-2xl; 
            text-align: center;
        }
        .flexstart{
            justify-content: flex-start;
        }

        .flexend{
            justify-content: flex-end;
        }
    }
    .läs-mer{
        align-self: flex-end;
    }
}
.for-barn{
        background-image: url(../img/pictures/för-barn-och-unga-hero.png);
    }

    .stodverksamhet{
        background-image: url(../img/pictures/stodverksamhet-hero.png);
    }
@media (max-width:$breakpoint-tablet){
    .your-right{
        .your-right-content{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2,1fr);
        }
    }
}

/*Stories*/
.stories{
    display: flex;
    flex-direction: column;
    gap: $spacing-3xl;
    align-items: flex-start;
    padding: $spacing-none $spacing-9xl;
    margin: 7.5rem 0rem;

    .story-cards{
        max-width: 100%;
        display: flex;
        gap: $spacing-2xl;
        justify-content: flex-start;
        
        .story-card{
            background-image: url(../img/graphic-element/testimonial-card.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            display: flex;
            flex-direction: column;
            border-top-left-radius: $border-radius-lg;
            padding: 88px 65px 55px 76px;

            .story-wrapper{
                display: flex;
                gap: -2px;
                .icon-quote{
                    width: 62px;
                    height: 62px;
                    color: $illustrations-brand-yellow;
                }
                .story{
                        width: 80%;
                        flex:1;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        .autor{
                            display: flex;
                        }
                        p{
                            color:$text-invert;
                        }

                    }
            }
        }
    }
    .läs-mer{
        align-self: flex-end;
    }

}
@media (max-width:$breakpoint-tablet){
    .stories{
        .story-cards{
            flex-direction: column;
        }
    }
}

@media (max-width:$breakpoint-mobile){
    .stories{
        .story-cards{
            .story-card{
                padding: $spacing-lg;
            }
        }
    }
}
/*================================================

Stödversamhet

==================================================*/

.different-groups{
    margin-top: 14.75rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: $spacing-4xl;
    justify-content: center;
    align-items: center;
    padding: $spacing-none 155px;

    .group-card{
        height: 100%;
        background-color: $background-brand;
        gap: $spacing-2xl;
        padding: $spacing-5xl $spacing-3xl;
        border-radius: $border-radius-md;

        .group-title{
            display: flex;
            align-items: center;
            color: $text-invert;
            fill: $text-invert;
        }
        p{
            color: $text-invert;
        }
    }
}

@media (max-width:$breakpoint-tablet){
    .different-groups{
        padding: $spacing-none $spacing-5xl;
    }
}

@media (max-width:$breakpoint-mobile){
    .different-groups{
        padding: $spacing-none $spacing-4xl;
        grid-template-columns: repeat(1, 1fr);
    }
}

/*Information bottom*/
.information-bottom{
    padding: $spacing-none $spacing-9xl;
    display: flex;
    justify-content: space-between;

    .other-testimony{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $spacing-8xl;

        .info-title-and-lign{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .icon .lign{
                color: $text-primary;
            }

            .info-title{
                display: flex;
            }
            p{
                text-align: center;
            }
        }

    }

}