@charset "UTF-8";
/* =============
General 
================*/
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/*=================
Variables Core
===================*/
/*Gray*/
/*Yellow*/
/*Maroon*/
/*Brown*/
/*==================
Variables Tockens
====================*/
/*Color*/
/*Text*/
/*Background*/
/*Border*/
/*Effects*/
/*Illustrations*/
/*Highlights*/
/*Logo*/
/*Button*/
/*Outlined*/
/*Primary*/
/*Secondary*/
/*Filled*/
/*Primary*/
/*Text*/
/*Spacing*/
/*Border-radius*/
/*Border*/
/*==================
Breakpoints 
====================*/
/*==================
Button 
====================*/
.button {
  border-radius: 100000px;
  padding: 12px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: none;
  cursor: pointer;
}
.button .button__icon {
  transition: all 0.3s ease;
}
.button:hover .button__icon {
  transform: translateX(10px);
}

.button--filled {
  background: #fdc104;
  color: #1a1a1a;
  fill: #1a1a1a;
}
.button--filled:hover {
  background-color: #eab200;
}

.button--outlined {
  position: relative;
  background: transparent;
  border: none;
  outline: none;
}
.button--outlined:hover {
  background-color: rgba(52, 20, 11, 0.062745098);
}
.button--outlined .button__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.button--outlined .button__border {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  pointer-events: none;
  overflow: visible;
  aspect-ratio: none;
}
.button--outlined .long-btn {
  transform: scaleX(1.3);
}

@media (max-width: 572px) {
  .button {
    padding: 12px 28px;
  }
}
.panik {
  padding: 8px 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #FEDA68;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 0px 20px 20px 20px;
  position: fixed;
  right: 48px;
  top: 668px;
  z-index: 1000000;
  cursor: pointer;
}
.panik h6 {
  color: #34140b;
}
.panik .exit-icon {
  color: #34140b;
}

@media (max-width: 572px) {
  .panik {
    padding: 12px 12px;
  }
  h6 {
    margin: 0px;
  }
}
/*==================
Highlight 
====================*/
.highlight-content {
  position: relative;
  display: inline-flex;
  align-items: center;
  /*justify-content: center;*/
  padding: 0.05em 0.18em;
  white-space: nowrap;
  vertical-align: baseline;
}
.highlight-content .highlight {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  -o-object-fit: fill;
     object-fit: fill;
  overflow: visible;
  transform: scaleX(1.05);
}
.highlight-content .text {
  position: relative;
  z-index: 1;
  color: #34140b;
}

.highlight-header {
  font-size: 2rem;
  position: relative;
  display: inline-block;
  padding: 0.5rem 0.15rem;
}
.highlight-header .highlight-bg {
  position: absolute;
  width: 100%;
  z-index: -1;
  inset: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scaleX(1.05);
}

/*==================
Icon 
====================*/
.icon {
  width: 24px;
  height: 24px;
  padding: auto;
}

.primary {
  fill: #34140b;
}

.invert {
  fill: #f6f2ec;
}

/*==================
Breakpoints 
====================*/
/*Font*/
/*Delicious Handrawn*/
.delicious-handrawn-regular {
  font-family: "Delicious Handrawn", cursive;
  font-weight: 400;
  font-style: normal;
}

/*Buenos Aires*/
/*Regular*/
@font-face {
  font-family: "BuenosAires";
  src: url("../font/buenosaires/BuenosAires-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/*Book*/
@font-face {
  font-family: "BuenosAires";
  src: url("../font/buenosaires/BuenosAires-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/*Black*/
@font-face {
  font-family: "BuenosAires";
  src: url("../font/buenosaires/BuenosAires-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/*Font-familly*/
/*Font-size*/
/*Font-weight*/
/*Line-height*/
/*=========================
Styles
===========================*/
/*Heading*/
.heading-huge {
  font-family: "BuenosAires";
  font-weight: 900;
  font-size: 74px;
  line-height: 80px;
}

.heading-5xl {
  font-family: "BuenosAires";
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.heading-4xl {
  font-family: "BuenosAires";
  font-weight: 900;
  font-size: 36px;
  line-height: 48px;
}

.heading-3xl {
  font-family: "BuenosAires";
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
}

.heading-2xl {
  font-family: "BuenosAires";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}

.heading-xl {
  font-family: "BuenosAires";
  font-weight: 900;
  font-size: 20px;
  line-height: 28px;
}

.heading-lg {
  font-family: "BuenosAires";
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
}

.heading-md {
  font-family: "BuenosAires";
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
}

@media (max-width: 769px) {
  .heading-huge {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 64px;
    line-height: 72px;
  }
  .heading-5xl {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
  }
  .heading-4xl {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
  }
  .heading-3xl {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
  }
  .heading-2xl {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
  }
  .heading-xl {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
  }
  .heading-md {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 572px) {
  .heading-huge {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
  }
  .heading-5xl {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
  }
  .heading-4xl {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
  }
  .heading-3xl {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
  }
  .heading-2xl {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
  }
  .heading-xl {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
  }
  .heading-md {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
  }
}
/*Preamble*/
.preamble-5xl {
  font-family: "BuenosAires";
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
}

.preamble-3xl {
  font-family: "BuenosAires";
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
}

.preamble-lg {
  font-family: "BuenosAires";
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.preamble-md {
  font-family: "BuenosAires";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 769px) {
  .preamble-5xl {
    font-family: "BuenosAires";
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
  }
  .preamble-3xl {
    font-family: "BuenosAires";
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
  }
  .preamble-lg {
    font-family: "BuenosAires";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  .preamble-md {
    font-family: "BuenosAires";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 572px) {
  .preamble-5xl {
    font-family: "BuenosAires";
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
  }
  .preamble-3xl {
    font-family: "BuenosAires";
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }
  .preamble-lg {
    font-family: "BuenosAires";
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
  .preamble-md {
    font-family: "BuenosAires";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
}
/*Body*/
/*Book*/
.book-xl {
  font-family: "BuenosAires";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.book-lg {
  font-family: "BuenosAires";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.book-md {
  font-family: "BuenosAires";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.book-sm {
  font-family: "BuenosAires";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 769px) {
  .book-xl {
    font-family: "BuenosAires";
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }
  .book-lg {
    font-family: "BuenosAires";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .book-md {
    font-family: "BuenosAires";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  .book-sm {
    font-family: "BuenosAires";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 572px) {
  .book-xl {
    font-family: "BuenosAires";
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }
  .book-lg {
    font-family: "BuenosAires";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .book-md {
    font-family: "BuenosAires";
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .book-sm {
    font-family: "BuenosAires";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}
/*Black*/
.black-lg {
  font-family: "BuenosAires";
  font-weight: 900;
  font-size: 18px;
  line-height: 28px;
}

.black-md {
  font-family: "BuenosAires";
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
}

.black-sm {
  font-family: "BuenosAires";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 769px) {
  .black-lg {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
  }
  .black-md {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
  }
  .black-sm {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 12px;
    line-height: 18px;
  }
}
@media (max-width: 572px) {
  .black-lg {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
  }
  .black-md {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 12px;
    line-height: 16px;
  }
  .black-sm {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
  }
}
/*Decor*/
.decor-md {
  font-family: "Delicious Handrawn";
  font-size: 30px;
  line-height: 36px;
}

@media (max-width: 769px) {
  .decor-md {
    font-family: "Delicious Handrawn";
    font-size: 30px;
    line-height: 36px;
  }
}
@media (max-width: 572px) {
  .decor-md {
    font-family: "Delicious Handrawn";
    font-size: 24px;
    line-height: 32px;
  }
}
.hero {
  width: 100vw;
  height: 29rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 48px;
  position: relative;
}
.hero .in-danger {
  width: 20%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 8px 20px;
  border-radius: 20px 20px 20px 0px;
  background-color: #fff3cd;
}
.hero .hero-information {
  width: 50%;
  padding: 24px;
  background-color: rgba(52, 20, 11, 0.6);
  backdrop-filter: blur(25%);
  border-radius: 38px;
  position: absolute;
  bottom: -100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #f6f2ec;
}

@media (max-width: 572px) {
  .hero {
    padding: 16px;
  }
  .hero .in-danger {
    width: 80%;
  }
  .hero .hero-information {
    width: 100%;
  }
}
/*Your right*/
.your-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 0px 48px;
  position: relative;
}
.your-right .lign {
  width: 90px;
  height: auto;
  fill: #34140b;
  rotate: -55.72°;
  position: absolute;
}
.your-right .lign1 {
  left: 347.76px;
  top: 126.09px;
}
.your-right .your-right-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: -6px;
  width: 100%;
}
.your-right .your-right-content .your-right-item {
  height: 328px;
  width: 305px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}
.your-right .your-right-content .flexstart {
  justify-content: flex-start;
}
.your-right .your-right-content .flexend {
  justify-content: flex-end;
}
.your-right .läs-mer {
  align-self: flex-end;
}

.for-barn {
  background-image: url(../img/pictures/för-barn-och-unga-hero.png);
}

.stodverksamhet {
  background-image: url(../img/pictures/stodverksamhet-hero.png);
}

@media (max-width: 769px) {
  .your-right .your-right-content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
/*Stories*/
.stories {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  padding: 0px 48px;
  margin: 7.5rem 0rem;
}
.stories .story-cards {
  max-width: 100%;
  display: flex;
  gap: 12px;
  justify-content: flex-start;
}
.stories .story-cards .story-card {
  background-image: url(../img/graphic-element/testimonial-card.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 38px;
  padding: 88px 65px 55px 76px;
}
.stories .story-cards .story-card .story-wrapper {
  display: flex;
  gap: -2px;
}
.stories .story-cards .story-card .story-wrapper .icon-quote {
  width: 62px;
  height: 62px;
  color: #fee69b;
}
.stories .story-cards .story-card .story-wrapper .story {
  width: 80%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.stories .story-cards .story-card .story-wrapper .story .autor {
  display: flex;
}
.stories .story-cards .story-card .story-wrapper .story p {
  color: #f6f2ec;
}
.stories .läs-mer {
  align-self: flex-end;
}

@media (max-width: 769px) {
  .stories .story-cards {
    flex-direction: column;
  }
}
@media (max-width: 572px) {
  .stories .story-cards .story-card {
    padding: 8px;
  }
}
/*================================================

Stödversamhet

==================================================*/
.different-groups {
  margin-top: 14.75rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 0px 155px;
}
.different-groups .group-card {
  height: 100%;
  background-color: #610228;
  gap: 12px;
  padding: 24px 16px;
  border-radius: 20px;
}
.different-groups .group-card .group-title {
  display: flex;
  align-items: center;
  color: #f6f2ec;
  fill: #f6f2ec;
}
.different-groups .group-card p {
  color: #f6f2ec;
}

@media (max-width: 769px) {
  .different-groups {
    padding: 0px 24px;
  }
}
@media (max-width: 572px) {
  .different-groups {
    padding: 0px 20px;
    grid-template-columns: repeat(1, 1fr);
  }
}
/*Information bottom*/
.information-bottom {
  padding: 0px 48px;
  display: flex;
  justify-content: space-between;
}
.information-bottom .other-testimony {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.information-bottom .other-testimony .info-title-and-lign {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.information-bottom .other-testimony .info-title-and-lign .icon .lign {
  color: #34140b;
}
.information-bottom .other-testimony .info-title-and-lign .info-title {
  display: flex;
}
.information-bottom .other-testimony .info-title-and-lign p {
  text-align: center;
}/*# sourceMappingURL=förbarnochunga.css.map */