@charset "UTF-8";
/* =============
General 
================*/
@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/*=================
Variables Core
===================*/
/*Gray*/
/*Yellow*/
/*Maroon*/
/*Brown*/
/*==================
Variables Tockens
====================*/
/*Color*/
/*Text*/
/*Background*/
/*Border*/
/*Effects*/
/*Illustrations*/
/*Highlights*/
/*Logo*/
/*Button*/
/*Outlined*/
/*Primary*/
/*Secondary*/
/*Filled*/
/*Primary*/
/*Text*/
/*Spacing*/
/*Border-radius*/
/*Border*/
/*==================
Breakpoints 
====================*/
/*==================
Button 
====================*/
.button {
  border-radius: 100000px;
  padding: 12px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: none;
  cursor: pointer;
}
.button .button__icon {
  transition: all 0.3s ease;
}
.button:hover .button__icon {
  transform: translateX(10px);
}

.button--filled {
  background: #fdc104;
  color: #1a1a1a;
  fill: #1a1a1a;
}
.button--filled:hover {
  background-color: #eab200;
}
.button--filled:disabled {
  background-color: #fff3cd;
}

.button--outlined {
  position: relative;
  background: transparent;
  border: none;
  outline: none;
}
.button--outlined:hover {
  background-color: rgba(52, 20, 11, 0.062745098);
}
.button--outlined .button__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.button--outlined .button__border {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  pointer-events: none;
  overflow: visible;
  aspect-ratio: none;
}
.button--outlined .long-btn {
  transform: scaleX(1.3);
}

@media (max-width: 572px) {
  .button--outlined .button {
    padding: 12px 28px;
  }
  .button--outlined .long-btn {
    transform: scaleX(1.2);
  }
}
.panik {
  padding: 8px 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #FEDA68;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 0px 20px 20px 20px;
  position: fixed;
  right: 48px;
  top: 668px;
  z-index: 1000000;
  cursor: pointer;
}
.panik h6 {
  color: #34140b;
}
.panik .exit-icon {
  color: #34140b;
}

@media (max-width: 572px) {
  .panik {
    padding: 12px 12px;
  }
  h6 {
    margin: 0px;
  }
}
/*==================
Highlight 
====================*/
.highlight-content {
  position: relative;
  display: inline-flex;
  align-items: center;
  /*justify-content: center;*/
  padding: 0.05em 0.18em;
  white-space: nowrap;
  vertical-align: baseline;
}
.highlight-content .highlight {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  -o-object-fit: fill;
     object-fit: fill;
  overflow: visible;
  transform: scaleX(1.05);
}
.highlight-content .text {
  position: relative;
  z-index: 1;
  color: #34140b;
}

.highlight-header {
  font-size: 2rem;
  position: relative;
  display: inline-block;
  padding: 0.5rem 0.15rem;
}
.highlight-header .highlight-bg {
  position: absolute;
  width: 100%;
  z-index: -1;
  inset: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scaleX(1.05);
}

/*==================
Icon 
====================*/
.icon {
  width: 24px;
  height: 24px;
  padding: auto;
}

.primary {
  fill: #34140b;
}

.invert {
  color: #f6f2ec;
}

/*==================
Breakpoints 
====================*/
/*Font*/
/*Delicious Handrawn*/
.delicious-handrawn-regular {
  font-family: "Delicious Handrawn", cursive;
  font-weight: 400;
  font-style: normal;
}

/*Buenos Aires*/
/*Regular*/
@font-face {
  font-family: "BuenosAires";
  src: url("../font/buenosaires/BuenosAires-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
/*Book*/
@font-face {
  font-family: "BuenosAires";
  src: url("../font/buenosaires/BuenosAires-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/*Black*/
@font-face {
  font-family: "BuenosAires";
  src: url("../font/buenosaires/BuenosAires-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/*Font-familly*/
/*Font-size*/
/*Font-weight*/
/*Line-height*/
/*=========================
Styles
===========================*/
/*Heading*/
.heading-huge {
  font-family: "BuenosAires";
  font-weight: 900;
  font-size: 74px;
  line-height: 80px;
}

.heading-5xl {
  font-family: "BuenosAires";
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.heading-4xl {
  font-family: "BuenosAires";
  font-weight: 900;
  font-size: 36px;
  line-height: 48px;
}

.heading-3xl {
  font-family: "BuenosAires";
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
}

.heading-2xl {
  font-family: "BuenosAires";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}

.heading-xl {
  font-family: "BuenosAires";
  font-weight: 900;
  font-size: 20px;
  line-height: 28px;
}

.heading-lg {
  font-family: "BuenosAires";
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
}

.heading-md {
  font-family: "BuenosAires";
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
}

@media (max-width: 769px) {
  .heading-huge {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 64px;
    line-height: 72px;
  }
  .heading-5xl {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
  }
  .heading-4xl {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
  }
  .heading-3xl {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
  }
  .heading-2xl {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
  }
  .heading-xl {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
  }
  .heading-md {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
  }
}
@media (max-width: 572px) {
  .heading-huge {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
  }
  .heading-5xl {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
  }
  .heading-4xl {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
  }
  .heading-3xl {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 20px;
    line-height: 28px;
  }
  .heading-2xl {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 18px;
    line-height: 24px;
  }
  .heading-xl {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
  }
  .heading-md {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
  }
}
/*Preamble*/
.preamble-5xl {
  font-family: "BuenosAires";
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
}

.preamble-3xl {
  font-family: "BuenosAires";
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
}

.preamble-lg {
  font-family: "BuenosAires";
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.preamble-md {
  font-family: "BuenosAires";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 769px) {
  .preamble-5xl {
    font-family: "BuenosAires";
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
  }
  .preamble-3xl {
    font-family: "BuenosAires";
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
  }
  .preamble-lg {
    font-family: "BuenosAires";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  .preamble-md {
    font-family: "BuenosAires";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 572px) {
  .preamble-5xl {
    font-family: "BuenosAires";
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
  }
  .preamble-3xl {
    font-family: "BuenosAires";
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }
  .preamble-lg {
    font-family: "BuenosAires";
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
  .preamble-md {
    font-family: "BuenosAires";
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
}
/*Body*/
/*Book*/
.book-xl {
  font-family: "BuenosAires";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.book-lg {
  font-family: "BuenosAires";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.book-md {
  font-family: "BuenosAires";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.book-sm {
  font-family: "BuenosAires";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 769px) {
  .book-xl {
    font-family: "BuenosAires";
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
  }
  .book-lg {
    font-family: "BuenosAires";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .book-md {
    font-family: "BuenosAires";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  .book-sm {
    font-family: "BuenosAires";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 572px) {
  .book-xl {
    font-family: "BuenosAires";
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }
  .book-lg {
    font-family: "BuenosAires";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .book-md {
    font-family: "BuenosAires";
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .book-sm {
    font-family: "BuenosAires";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}
/*Black*/
.black-lg {
  font-family: "BuenosAires";
  font-weight: 900;
  font-size: 18px;
  line-height: 28px;
}

.black-md {
  font-family: "BuenosAires";
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
}

.black-sm {
  font-family: "BuenosAires";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 769px) {
  .black-lg {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
  }
  .black-md {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
  }
  .black-sm {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 12px;
    line-height: 18px;
  }
}
@media (max-width: 572px) {
  .black-lg {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 16px;
    line-height: 24px;
  }
  .black-md {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 12px;
    line-height: 16px;
  }
  .black-sm {
    font-family: "BuenosAires";
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
  }
}
/*Decor*/
.decor-md {
  font-family: "Delicious Handrawn";
  font-size: 30px;
  line-height: 36px;
}

@media (max-width: 769px) {
  .decor-md {
    font-family: "Delicious Handrawn";
    font-size: 30px;
    line-height: 36px;
  }
}
@media (max-width: 572px) {
  .decor-md {
    font-family: "Delicious Handrawn";
    font-size: 24px;
    line-height: 32px;
  }
}
/*===================
GENERAL
===================*/
body {
  background-color: #f6f2ec;
  position: relative;
}

.highlight-text {
  color: #fdc104;
}

a {
  color: #f6f2ec;
  text-decoration: none;
}

/*===================
HEADER
===================*/
nav {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  width: 100vw;
  height: 4rem;
  display: flex;
  padding: 12px 48px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(52, 20, 11, 0.6);
  backdrop-filter: blur(25px);
}
nav .nav-header {
  display: flex;
}
nav .nav-header .nav-toggle {
  display: none;
}
nav .nav-wrapper ul {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0px;
  list-style: none;
  padding: 20px 0px;
}
nav .nav-wrapper ul li {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 8px;
  cursor: pointer;
}
nav .nav-wrapper ul li .dropdown-toggle {
  transition: transform 0.3s ease;
  color: #f6f2ec;
}
nav .nav-wrapper ul li:hover .dropdown-toggle {
  transform: rotate(180deg);
}
nav .nav-wrapper ul li:hover .under-link {
  display: block;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
nav .nav-wrapper ul li .menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav .nav-wrapper ul li .menu-item .text-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}
nav .nav-wrapper ul li .menu-item .text-content a {
  width: -moz-fit-content;
  width: fit-content;
  color: #f6f2ec;
}
nav .nav-wrapper ul li .menu-item .text-content path {
  width: 24px;
  height: 24px;
  fill: #f6f2ec;
}
nav .nav-wrapper ul li .under-link {
  display: none;
  width: 100%;
  height: 4px;
  fill: #f6f2ec;
}
nav .nav-wrapper ul li .subnav {
  position: absolute;
  min-width: -moz-max-content;
  min-width: max-content;
  top: 100%;
  left: 0px;
  display: none;
  list-style: none;
  padding: 1rem;
}
nav .nav-wrapper ul li .subnav.open {
  margin-top: 0px;
  top: 100%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  border-radius: 0px 0px 20px 20px;
  background-color: rgba(52, 20, 11, 0.6);
  backdrop-filter: blur(25px);
  gap: 0px;
}
nav .nav-wrapper ul li .subnav.open li {
  padding: 10px 20px;
  border-bottom: 1px solid #34140b;
  width: 100%;
}
nav .nav-wrapper ul li .subnav.open li:last-child {
  border-radius: 0px 0px 20px 20px;
  border-bottom: none;
}
nav .nav-wrapper ul li .subnav.open li:hover {
  background-color: #34140b;
}

@media (max-width: 769px) {
  nav {
    flex-direction: column;
    position: relative;
  }
  nav .nav-header {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  nav .nav-header .nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 24px;
    height: 24px;
    z-index: 100000;
    position: relative;
    border: none;
    cursor: pointer;
    background: transparent;
  }
  nav .nav-header .nav-toggle .bar {
    height: 3px;
    width: 100%;
    position: absolute;
    transition: all 0.3s ease;
    border-radius: 24px;
  }
  nav .nav-header .nav-toggle .bar:nth-child(1) {
    top: 0;
  }
  nav .nav-header .nav-toggle .bar:nth-child(3) {
    bottom: 0;
  }
  nav .nav-header .nav-toggle.open .bar {
    top: 0;
    bottom: 100%;
  }
  nav .nav-header .nav-toggle.open .bar:nth-child(1) {
    transform: rotate(45deg);
  }
  nav .nav-header .nav-toggle.open .bar:nth-child(2) {
    opacity: 0;
  }
  nav .nav-header .nav-toggle.open .bar:nth-child(3) {
    transform: rotate(-45deg);
  }
  nav .nav-wrapper {
    position: fixed;
    top: 4rem;
    right: -100%;
    width: 50%;
    height: 100vh;
    transition: right 0.3s ease;
  }
  nav .nav-wrapper .menu-panel {
    width: 100%;
    height: 100%;
    background-color: rgba(52, 20, 11, 0.6);
    backdrop-filter: blur(25px);
  }
  nav .nav-wrapper .menu-panel ul {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    padding: 0px;
  }
  nav .nav-wrapper .menu-panel ul li {
    width: 100%;
    padding: 20px 10px;
    border-bottom: 1px solid;
    border-color: #f6f2ec;
    position: relative;
    background-color: transparent;
  }
  nav .nav-wrapper .menu-panel ul li:hover .under-link {
    display: none;
  }
  nav .nav-wrapper .menu-panel ul .subnav {
    position: sticky;
    display: none;
    flex-direction: column;
    width: 100%;
  }
  nav .nav-wrapper .menu-panel ul .subnav.open {
    display: flex;
    position: relative;
    background-color: transparent;
    border-radius: 0px;
    backdrop-filter: none;
  }
  nav .nav-wrapper .menu-panel ul .subnav.open li {
    border: none;
    background-color: transparent;
    padding: 10px;
  }
  nav .nav-wrapper .menu-panel ul .subnav.open li .text-content .book-md {
    font-weight: 900;
  }
  nav .nav-wrapper.open {
    right: 0;
  }
}
@media (max-width: 572px) {
  nav .nav-wrapper {
    width: 100%;
  }
  nav .nav-wrapper.open {
    width: 100%;
    right: 0;
  }
}
/*===================
MAIN
===================*/
/*Herosection*/
.hero-statistics {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("/img/pictures/hero.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.hero-statistics .hero-content {
  max-width: 50%;
  min-height: 100%;
  padding: 184px 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}
@media (max-with: 1440px) {
  .hero-statistics .hero-content {
    max-width: 70%;
  }
}
.hero-statistics .hero-content .text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-statistics .hero-content .text-container h1, .hero-statistics .hero-content .text-container p {
  color: #f6f2ec;
}
.hero-statistics .hero-content .hero-btn {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.hero-statistics .hero-content .hero-btn .btn-secondary-outlined {
  color: #f6f2ec;
  fill: #f6f2ec;
}
.hero-statistics .statistics {
  min-width: 90%;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  justify-self: center;
  gap: 50px;
  position: absolute;
  bottom: -100px;
  padding: 28px 48px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(97, 2, 40, 0.8);
  backdrop-filter: blur(25px);
  border-radius: 0px 38px 38px 38px;
}
.hero-statistics .statistics .statistic {
  max-width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.hero-statistics .statistics .statistic h2, .hero-statistics .statistics .statistic p, .hero-statistics .statistics .statistic path {
  color: #f6f2ec;
  fill: #f6f2ec;
  text-align: center;
}
.hero-statistics .statistics .statistic img {
  width: 100%;
}

@media (max-width: 769px) {
  .hero-statistics .hero-content {
    max-width: 80%;
  }
  .hero-statistics .statistics {
    padding: 16px 12px;
    flex: 1;
    gap: 8px;
  }
}
@media (max-width: 572px) {
  .hero-statistics {
    background-image: url(../img/pictures/hero-mobile.png);
  }
  .hero-statistics .hero-content .hero-btn {
    flex-direction: column;
  }
  .hero-statistics .statistics {
    flex-direction: column;
    bottom: -350px;
  }
}
/*Content block section used in index, trygga-häng, för barn och unga and stödversamhet*/
.content-block {
  display: flex;
  align-items: center;
  padding: 0px 56px;
  gap: 20px;
  margin-bottom: 11.25rem;
}
.content-block .picture {
  width: 50%;
  display: flex;
  align-items: center;
}
.content-block .picture .trygga-hang-info {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 24px;
  background-color: #610228;
  border-radius: 38px 38px 0px 38px;
}
.content-block .picture .trygga-hang-info .title-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.content-block .picture .trygga-hang-info .info {
  display: flex;
  gap: 8px;
}
.content-block .picture .trygga-hang-info .info .icon-info .icon {
  width: 48px;
  height: 48px;
}
.content-block .picture .trygga-hang-info .info .text-info {
  display: flex;
  flex-direction: column;
}
.content-block .picture .trygga-hang-info .info .text-info .email {
  text-decoration: underline;
}
.content-block .picture img {
  display: block;
  width: 100%;
  height: auto;
}
.content-block .card-info {
  justify-content: flex-end;
}
.content-block .article-content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.content-block .article-content .text-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.content-block .article-content .text-section .title {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.content-block .article-content .text-section .title h2 {
  line-height: 1.05;
  /*.highlight-brand{
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0.05em 0.18em;
      white-space: nowrap;
      vertical-align: baseline;

      .highlight {
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          z-index: 0;
          pointer-events: none;
          overflow: visible;
          transform: scaleX(1) scaleY(1.15);
          transform-origin: center;
      }

      .text{
          position: relative;
          z-index: 1;
      }
  }*/
}
.content-block .article-content .text-section .title h2 .text-highlight {
  background-image: url(../img/graphic-element/highlight.svg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: visible;
  position: relative;
  z-index: -1;
}
.content-block .about-us-btn {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.content-block .about-us-btn .btn-primary-outlined {
  color: #34140b;
  fill: #34140b;
}

.about-us, .stodchat, .what-is-trygga-hang {
  margin-top: 15rem;
}

.what-is-trygga-hang .article-content {
  min-width: 70%;
}

@media (max-width: 769px) {
  .content-block {
    padding: 0px 24px;
  }
  .content-block .article-content {
    max-width: 40%;
    min-width: 40%;
  }
  .content-block .article-content .about-us-btn {
    flex-direction: column;
  }
}
@media (max-width: 572px) {
  .content-block {
    flex-direction: column;
    margin-bottom: 5rem;
  }
  .content-block .picture {
    width: 100%;
  }
  .content-block .article-content {
    max-width: 100%;
    width: 100%;
  }
  .about-us {
    margin-top: 30rem;
  }
  .trygga-hang-info {
    width: 100%;
  }
  .stodchat, .what-is-trygga-hang {
    margin-top: 10rem;
  }
}
/*Events*/
/*Used on index and in aktivitet*/
.events {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 0px 48px;
  margin-bottom: 5.938rem;
}
.events .preamble-lg {
  max-width: 40%;
}
.events .cards-event {
  width: 100%;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow-x: scroll;
  gap: 20px;
}
.events .cards-event .event-card {
  width: 20.063rem;
  height: 26.875rem;
  padding: 16px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.events .cards-event .event-card:first-child {
  background-image: url(../img/pictures/img-prova-på-badminton.webp);
  border-radius: 38px 0px 0px 38px;
}
.events .cards-event .event-card:nth-child(2) {
  background-image: url(../img/pictures/img-grillkväll.webp);
}
.events .cards-event .event-card:nth-child(3) {
  background-image: url(../img/pictures/img-skaparverkstad.webp);
}
.events .cards-event .event-card:nth-child(4) {
  background-image: url(../img/pictures/picknikochkubb.webp);
  border-radius: 0px 38px 38px 0px;
}
.events .cards-event .event-card .date {
  display: flex;
  flex-direction: column;
  padding: 4px 8px;
}
.events .cards-event .event-card .date h3 {
  color: #f6f2ec;
  text-align: center;
}
.events .cards-event .event-card .date .month {
  font-family: "BuenosAires";
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}
.events .cards-event .event-card .highlight-content {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
}
.events .cards-event .event-card .highlight-content:hover .highlight-title {
  color: #610228;
}
.events .cards-event .event-card .highlight-content .highlight-title {
  color: rgba(52, 20, 11, 0.6);
  opacity: 60%;
  width: 95%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.events .cards-event .event-card .highlight-content .title-event {
  display: flex;
  color: #f6f2ec;
  fill: #f6f2ec;
}
.events .btn-event {
  align-self: flex-end;
}

@media (max-width: 769px) {
  .events .preamble-lg {
    max-width: 80%;
  }
  .events .cards-event .event-card {
    width: 15.5rem;
  }
}
@media (max-width: 572px) {
  .events {
    padding: 0px 16px;
  }
}
/*Testionial*/
.testimonial {
  max-width: 45%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 24px;
}
.testimonial .testimonial-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  gap: 12px;
}
.testimonial .testimonial-text .quote {
  position: absolute;
  left: -10%;
  top: -50%;
  width: auto;
  height: 100%;
  z-index: 0;
  overflow: visible;
}
.testimonial .testimonial-text .preamble-5xl {
  position: relative;
  z-index: 1;
}
.testimonial .testimonial-text .name {
  display: flex;
  gap: 1px;
}

@media (max-width: 769px) {
  .testimonial {
    max-width: 100%;
    padding: 56px;
  }
}
/*To the adult*/
.to-the-adult {
  width: 100%;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 0px 48px;
}
.to-the-adult .landscape-section {
  display: flex;
  gap: 20px;
}
.to-the-adult .landscape-section .för-dig-som-vuxen {
  width: 80%;
  height: auto;
  background-image: url(../img/pictures/img-för-dig-som-vuxen.webp);
  background-size: cover;
  background-position: center;
  border-radius: 38px 0px 0px 38px;
}
.to-the-adult .landscape-section .cards-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.to-the-adult .landscape-section .cards-section .landscape-card {
  background-color: #610228;
  padding: 16px 24px;
}
.to-the-adult .landscape-section .cards-section .landscape-card .title {
  display: flex;
  align-items: center;
  color: #f6f2ec;
  fill: #f6f2ec;
}
.to-the-adult .landscape-section .cards-section .landscape-card p {
  width: 70%;
  color: #f6f2ec;
}
.to-the-adult .landscape-section .cards-section .landscape-card:first-child {
  border-top-right-radius: 38px;
}
.to-the-adult .landscape-section .cards-section .landscape-card:last-child {
  border-bottom-right-radius: 38px;
}

@media (max-width: 769px) {
  .to-the-adult .landscape-section .för-dig-som-vuxen {
    width: 100%;
    background-position: 80%;
  }
  .to-the-adult .landscape-section .cards-section .landscape-card .book-md {
    width: 100%;
  }
}
@media (max-width: 572px) {
  .to-the-adult {
    padding: 0px 16px;
    margin-top: 5rem;
  }
  .to-the-adult .landscape-section {
    flex-direction: column;
    gap: 8px;
  }
  .to-the-adult .landscape-section .för-dig-som-vuxen {
    height: 120px;
    width: 100%;
    border-radius: 38px 38px 0px 0px;
  }
  .to-the-adult .landscape-section .cards-section .landscape-card:first-child {
    border-top-right-radius: 0px;
  }
  .to-the-adult .landscape-section .cards-section .landscape-card:last-child {
    border-radius: 0px 0px 38px 38px;
  }
}
/*Donation*/
.donation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 0px 48px;
  margin-top: 11.625rem;
  margin-bottom: 11.625rem;
}
.donation .preamble-lg {
  max-width: 40%;
}
.donation .donation-content {
  min-width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  gap: 48px;
}
.donation .donation-content .donation-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donation .donation-content .btn-donation {
  width: -moz-fit-content;
  width: fit-content;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donation .donation-content .btn-donation:hover .under-link {
  display: block;
}
.donation .donation-content .btn-donation .btn-text {
  display: flex;
}
.donation .donation-content .btn-donation .under-link {
  display: none;
  height: 4px;
  fill: #f6f2ec;
}

@media (max-width: 769px) {
  .donation .preamble-lg {
    max-width: 100%;
  }
}
@media (max-width: 572px) {
  .donation {
    padding: 0px 16px;
    margin-top: 5rem;
  }
  .donation .donation-content {
    flex-direction: column;
  }
}
/*===================
FOOTER
===================*/
footer {
  display: flex;
  flex-direction: column;
  padding: 32px 48px;
  gap: 32px;
  background-image: url(../img/graphic-element/footer.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
footer .footer-top {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
footer .footer-top .book-md {
  width: 40%;
}
footer .footer-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 56px;
}
footer .footer-wrapper .footer-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer-wrapper .footer-items .footer-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .footer-wrapper .footer-items .footer-item a {
  color: #34140b !important;
}
footer .footer-wrapper .footer-items .footer-item a:hover {
  text-decoration: underline;
}
footer .footer-bottom {
  display: flex;
  justify-content: space-between;
}
footer .footer-bottom .footer-kakor {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}
footer .footer-bottom .footer-kakor .kakor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
footer .footer-bottom .footer-kakor .kakor a {
  color: #34140b !important;
}
footer .footer-bottom .footer-kakor .kakor .under-link-kakor {
  height: 4px;
  width: 20%;
}
footer .footer-bottom .footer-kakor .kakor .under-link-integritetspolicy {
  height: 4px;
  width: 70%;
}
footer .footer-bottom .footer-logos {
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 769px) {
  footer {
    padding: 56px 24px 32px 24px;
    background-image: url(../img/graphic-element/footer-tablet.svg);
    background-size: cover;
    background-position: center top;
  }
  footer .footer-top {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
  }
  footer .footer-top img {
    display: block;
    height: 40px;
  }
  footer .footer-top .book-md {
    width: 100%;
  }
}
@media (max-width: 572px) {
  footer {
    justify-content: flex-start;
    padding: 56px 32px 32px 24px;
    background-image: url(../img/graphic-element/footer-mobile.svg);
    background-size: cover;
  }
  footer .footer-wrapper {
    flex-direction: column;
    gap: 24px;
  }
  footer .footer-bottom {
    flex-direction: column;
    gap: 12px;
  }
  footer .footer-bottom .footer-logos {
    justify-content: space-between;
  }
}/*# sourceMappingURL=style.css.map */