@import 'bases';       
@import 'typography';

/*===================
GENERAL
===================*/
body{
    background-color: $background-primary;
}

.highlight-text{
    color: $text-brand;
}

a{
    color: $text-invert;
    text-decoration: none;
}

/*===================
HEADER
===================*/

//Logo and hamburger menu

nav{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    min-width: 100%;
    height: 4rem;
    display: flex;
    padding: $spacing-2xl $spacing-9xl;
    justify-content: space-between;
    align-items: center;
    background-color: $background-secondary;

    .nav-header{
        display: flex;

        .nav-toggle{
            display: none;
        }
    }

//Links 
    .nav-wrapper{

        ul{
        width: fit-content;
        display: flex;
        align-items: center;
        gap: $spacing-5xl;
        list-style: none;

            li{
                width: fit-content;
                display: flex;
                flex-direction: column;
                position: relative;
                padding:$spacing-lg;
                cursor: pointer;

                &:hover{
                    .dropdown-toggle {
                    transform: rotate(180deg);
                    transition: transform 0.3s ease;
                }

                .under-link {              
                    display: block;
                  }

                }
                
                .menu-item{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .text-content{
                        flex-direction: row;
                        align-items: center;

                        a{
                        width: fit-content;
                        }
                
                        a,svg{
                        fill: $text-invert; 
                        color: $text-invert;
                        } 
                    }
                }
                //lign under link in hover mode 
                .under-link{
                    display: none;
                    width: 100%;
                    height: 4px;
                    fill: $text-invert;
                }
                //under menu 
                .subnav{
                position: absolute;
                min-width: max-content;
                top: 100%;
                left:0px;
                display: none;
                list-style: none;
                padding: 1rem;
                }

                .subnav.open{
                    margin-top: 0px;
                    top: 100%;
                    padding: 0px;
                    display: flex;
                    flex-direction: column;
                    border-radius: $border-radius-none $border-radius-none $border-radius-md $border-radius-md;
                    background-color: $effects-brown-a;
                    backdrop-filter: blur (25px);
                    gap: 0px;

                    li {
                    padding: $spacing-xl $spacing-4xl; 
                    border-bottom: $border-sm solid $border-primary;
                    width: 100%; 
                    
                        &:last-child{
                           border-radius: $border-radius-none $border-radius-none $border-radius-md $border-radius-md; 
                           border-bottom: none;
                        }
        
                        &:hover {
                            background-color: $background-secondary;
                        }
                    }
                }

            }
        }
    }
}

/*===================
MAIN
===================*/

/*Herosection*/

.hero-statistics{
    min-width: 100vw;
    min-height: 100vh;
    background-image: url('/img/pictures/hero.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    position: relative;

    .hero-content{
        max-width: 50%;
        min-height: 100%;
        padding: 184px $spacing-9xl;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $spacing-9xl;
        
        .text-container{
            display: flex;
            flex-direction: column;
            gap:$spacing-4xl;

            h1, p{
                color: $text-invert;
            }
        }
        .hero-btn{
            display: flex;
            justify-content: space-between;

            .btn-secondary-outlined{
                color:$text-invert; 
                fill:$text-invert;
            }
        }
    }
    .statistics{
        min-width: 80%;
        height: fit-content;
        justify-self: center;
        position: absolute; 
        bottom: -150px;   
        padding: $spacing-6xl $spacing-9xl;        
        left: 50%;
        transform: translateX(-50%);
        background-color: $effects-brand-a;
        backdrop-filter: blur(25px);
        border-radius: $border-radius-none $border-radius-lg $border-radius-lg $border-radius-lg;

        display: flex;
        justify-content: space-between;

        .statistic{
            max-width: 18.063rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $spacing-2xl;
            

            h2, p, path{
                color:$text-invert; 
                fill: $text-invert;
                text-align: centers;
            }

            svg{
                width: 100%;
            }
        }
}
}

/*About us section*/
.about-us{
    display: flex;
    padding:$spacing-none $spacing-10xl;
    gap: $spacing-4xl;
    margin-top: 15rem;

    .picture{
        width: 100%;;
        display: flex;
        align-items: center;

        img{
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .about-us-content{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $spacing-8xl;

        .text-section{
            gap: $spacing-3xl;
            
            .title{
                gap: $spacing-md;

                h4{
                    .highlight-brand{
                        width: fit-content;
                        padding: $spacing-md $spacing-8xl;
                        position: relative;
                        display: inline-block;
                        place-items: center;
                        white-space: nowrap;
                        
                        background: transparent;
                        border: none;
                        outline: none;

                        .highlight{
                            width: 100%;
                            height: 100%;
                            z-index: 0;
                            pointer-events: none;
                            overflow: visible;
                        }
                        .text{
                            display: flex;
                            width: 100%;
                            position: absolute;
                            z-index: 1;

                        }
                    }
                }
            }   
        }
        .about-us-btn{
            display: flex;
            justify-content: flex-start;
            gap: $spacing-5xl;

            .btn-primary-outlined{
                color:$text-primary; 
                fill:$text-primary;
            }
        }
    }
}


/*===================
FOOTER
===================*/