@import 'bases';       
@import 'typography';

/*===================
GENERAL
===================*/
body{
    background-color: $background-primary;
    position: relative;
}

.highlight-text{
    color: $text-brand;
}

a{
    color: $text-invert;
    text-decoration: none;
}

/*===================
HEADER
===================*/

//DESKTOP

//Logo and hamburger menu

nav{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    width: 100vw;
    height: 4rem;
    display: flex;
    padding: $spacing-2xl $spacing-9xl;
    justify-content: space-between;
    align-items: center;
    background-color: $effects-brown-a;
    backdrop-filter: blur(25px);

    .nav-header{
        display: flex;

        .nav-toggle{
            display: none;
        }
    }

//Links 
    .nav-wrapper{

        ul{
        width:fit-content;
        display: flex;
        align-items: center;
        gap: $spacing-none;
        list-style: none;
        padding: $spacing-4xl $spacing-none;

            li{
                width: fit-content;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: relative;
                padding:$spacing-lg;
                cursor: pointer;

                .dropdown-toggle{
                    transition: transform 0.3s ease;
                    color: $text-invert;
                }

                &:hover{
                    .dropdown-toggle {
                    transform: rotate(180deg);
                    
                    }

                    .under-link {              
                        display: block;
                        width: 100%;
                        object-fit: fill;
                    }

                }
                
                .menu-item{
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .text-content{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: $spacing-sm;

                        a{
                        width: fit-content;
                        color:$text-invert;
                        }
                
                        path{
                        width: 24px;
                        height: 24px;    
                        fill: $text-invert; 
                        } 
                    }
                }
                //lign under link in hover mode 
                .under-link{
                    display: none;
                    width: 100%;
                    height: 4px;
                    fill: $text-invert;
                }
                //under menu 
                .subnav{
                position: absolute;
                min-width: max-content;
                top: 100%;
                left:0px;
                display: none;
                list-style: none;
                padding: 1rem;
                }

                .subnav.open{
                    margin-top: 0px;
                    top: 100%;
                    padding: 0px;
                    display: flex;
                    flex-direction: column;
                    border-radius: $border-radius-none $border-radius-none $border-radius-md $border-radius-md;
                    background-color: $effects-brown-a;
                    backdrop-filter: blur(25px);
                    gap: 0px;

                    li {
                    padding: $spacing-xl $spacing-4xl; 
                    border-bottom: $border-sm solid $border-primary;
                    width: 100%; 
                    
                        &:last-child{
                           border-radius: $border-radius-none $border-radius-none $border-radius-md $border-radius-md; 
                           border-bottom: none;
                        }
        
                        &:hover {
                            background-color: $background-secondary;
                        }
                    }
                }

            }
        }
    }
}

//TABLET

@media (max-width:$breakpoint-tablet) {
nav{
    flex-direction: column;
    position: relative;
    
    .nav-header{
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .nav-toggle{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 24px;
            height: 24px;
            // gap: 7px;
            z-index: 100000;
            position: relative;
            border: none;
            cursor: pointer;
            background: transparent;

                .bar {
                height: 3px;
                width: 100%;
                position: absolute;
                transition: all 0.3s ease;
                border-radius: 24px;
                }

                .bar:nth-child(1) {
                top: 0;
                }
                .bar:nth-child(3) {
                bottom: 0;
                }

                &.open {
                    .bar {
                        top: 0;
                        bottom: 100%;
                    }

                    .bar:nth-child(1) {
                        transform: rotate(45deg);
                    }
                    .bar:nth-child(2) {
                        opacity: 0;
                    }
                    .bar:nth-child(3) {
                        transform: rotate(-45deg);
                    }
                }
            }
        }

    .nav-wrapper{
        position: fixed;
        top: 4rem;
        right: -100%;
        width: 50%;
        height: 100vh;
        transition: right 0.3s ease;
        
        .menu-panel{
            width: 100%;
            height: 100%;
            background-color: $effects-brown-a;
            backdrop-filter: blur(25px);

            ul{
                width: 100%;
                flex-direction: column;
                align-items: flex-start;
                gap: $spacing-none;
                padding: $spacing-none;
                

                li{
                    width: 100%;
                    padding: $spacing-4xl $spacing-xl;
                    border-bottom: 1px solid;
                    border-color: $text-invert;
                    position: relative;
                    background-color: transparent;

                    &:hover{
                        .under-link{
                            display:none; 
                        }
                    }
                }
                .subnav {
                    position: sticky;
                    display: none;
                    flex-direction: column;
                    width: 100%;
                
                    }

                    .subnav.open{
                        display: flex;
                        position: relative;
                        background-color: transparent;
                        border-radius: $border-radius-none;
                        backdrop-filter: none;
                        
                        li{
                            border: none;
                            background-color: transparent;
                            padding: $spacing-xl;

                            .text-content{
                                .book-md{
                                    font-weight: 900;
                                }
                            }
   
                        }
                    }
                }
            }    
        }
        .nav-wrapper.open{
            right: 0; 
        }
    }
    
}

//MOBILE

@media (max-width:$breakpoint-mobile) {
    nav{
        .nav-wrapper{
            width: 100%;
        }
        .nav-wrapper.open{
            width: 100%;
            right: 0;
        }
    }
}

/*===================
MAIN
===================*/

/*Herosection*/

.hero-statistics{
    min-width: 100vw;
    min-height: 100vh;
    background-image: url('/img/pictures/hero.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    position: relative;

    .hero-content{
        max-width: 50%;
        min-height: 100%;
        padding: 184px $spacing-9xl;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $spacing-9xl;

    @media(max-with:$breakpoint-desktop){
        max-width: 70%;
    }
        
        .text-container{
            display: flex;
            flex-direction: column;
            gap:$spacing-4xl;

            h1, p{
                color: $text-invert;
            }
        }
        .hero-btn{
            display: flex;
            justify-content: space-between;
            gap: $spacing-5xl;

            .btn-secondary-outlined{
                color:$text-invert; 
                fill:$text-invert;
            }
        }
    }
    .statistics{
        min-width: 90%;
        display: flex;
        height: fit-content;
        justify-self: center;
        gap:50px;

        position: absolute; 
        bottom: -100px;   
        padding: $spacing-6xl $spacing-9xl;        
        left: 50%;
        transform: translateX(-50%);
        background-color: $effects-brand-a;
        backdrop-filter: blur(25px);
        border-radius: $border-radius-none $border-radius-lg $border-radius-lg $border-radius-lg;



        .statistic{
            max-width: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $spacing-4xl;
            

            h2, p, path{
                color:$text-invert; 
                fill: $text-invert;
                text-align: center;
            }

            img{
                width: 100%;
            }
        }
}
}

@media (max-width:$breakpoint-tablet) {
    .hero-statistics{
        .hero-content{
            max-width: 80%;
        }
        .statistics{
            padding: $spacing-3xl $spacing-2xl;
            flex: 1;
            gap: $spacing-lg;

        
        }
    }
}

@media (max-width:$breakpoint-mobile) {
    .hero-statistics{
        background-image: url(../img/pictures/hero-mobile.png);
        .hero-content{
            .hero-btn{
                flex-direction: column;
            }
        }
        .statistics{
            flex-direction: column;
            bottom: -350px
        }
    }
}


/*Content block section used in index, trygga-häng, för barn och unga and stödversamhet*/
.content-block{
    display: flex;
    align-items: center;
    padding:$spacing-none $spacing-10xl;
    gap: $spacing-4xl;
    margin-bottom: 11.25rem;

    .picture{
        width: 50%;;
        display: flex;
        align-items:  center;

        .trygga-hang-info{
            align-self: flex-end;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: $spacing-7xl;
            gap: $spacing-5xl;
            background-color: $background-brand;
            border-radius: $border-radius-lg $border-radius-lg $border-radius-none $border-radius-lg ;

            .title-text{
                display: flex;
                flex-direction: column;
                gap: $spacing-lg;
            }

            .info{
                display: flex;
                gap: $spacing-lg;

                .icon-info{

                    .icon{
                        width: 48px;
                        height: 48px;
                    }
                }
    
                .text-info{
                    display: flex;
                    flex-direction: column;

                    .email{
                        text-decoration: underline;
                    }
                }
            }
        }

        img{
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .card-info{
        justify-content: flex-end;
    }

    .article-content{
        max-width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $spacing-8xl;

        .text-section{
            display: flex;
            flex-direction: column;
            gap: $spacing-3xl;
            
            .title{
                display: flex;
                flex-direction: column;
                gap: $spacing-md;

                h2 {
                    line-height: 1.05;

                    /*.highlight-brand{
                        position: relative;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0.05em 0.18em;
                        white-space: nowrap;
                        vertical-align: baseline;

                        .highlight {
                            position: absolute;
                            inset: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 0;
                            pointer-events: none;
                            overflow: visible;
                            transform: scaleX(1) scaleY(1.15);
                            transform-origin: center;
                        }

                        .text{
                            position: relative;
                            z-index: 1;
                        }
                    }*/
                    .text-highlight{
                        background-image: url(../img/graphic-element/highlight.svg);
                        background-size: cover;
                        background-repeat: no-repeat;
                        overflow: visible;
                        position: relative;
                        z-index: -1;
                    }
                }
            }   
        }
        }
        .about-us-btn{
            display: flex;
            justify-content: flex-start;
            gap: $spacing-xl;

            .btn-primary-outlined{
                color:$text-primary; 
                fill:$text-primary;
            }
        }
    }
.about-us, .stodchat, .what-is-trygga-hang{
    margin-top: 15rem;
}

.what-is-trygga-hang{
    .article-content{
        min-width: 70%;

    }
}

@media (max-width:$breakpoint-tablet) {
    .content-block{
        padding:$spacing-none $spacing-5xl;

        .article-content{
            max-width: 40%;
            min-width: 40%;
            .about-us-btn{
                flex-direction: column;
            }
        }
    }
}  
@media (max-width:$breakpoint-mobile) {
    .content-block{
        flex-direction: column;
        .picture{
            width: 100%;
        }
        .article-content{
            max-width: 100%;
            width: 100%;
        }
    }
    .about-us{
        margin-top: 30rem;
    }
}

/*Events*/
/*Used on index and in aktivitet*/

.events{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-3xl;
    padding: $spacing-none $spacing-9xl;
    margin-bottom: 5.938rem;

    .preamble-lg{
        max-width: 40%
    }
    .cards-event{
        width: 100%;
        min-height: fit-content;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        overflow-x: scroll;
        gap: $spacing-4xl;

        .event-card{
            width: 20.063rem;
            height: 26.875rem;
            padding: $spacing-3xl;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            &:first-child{
                background-image: url(../img/pictures/img-prova-på-badminton.webp);
                border-radius: $border-radius-lg $border-radius-none $border-radius-none $border-radius-lg;
            }

            &:nth-child(2){
                background-image:url(../img/pictures/img-grillkväll.webp) ;
            }

            &:nth-child(3){
                background-image: url(../img/pictures/img-skaparverkstad.webp);
            }

            &:nth-child(4){
                background-image: url(../img/pictures/picknikochkubb.webp);
                border-radius:$border-radius-none $border-radius-lg  $border-radius-lg $border-radius-none;
            }
            .date{
            display: flex;
            flex-direction: column;
            padding: $spacing-md $spacing-lg;

                h3{
                    color: $text-invert;
                    text-align: center;
                }
                .month{
                    font-family: $body;
                    font-size: $font-size-md;
                    line-height:  $line-height-lg;
                    font-weight: 700;
                }
            }
            .highlight-content{
                cursor: pointer;
                display: flex;
                justify-content: flex-start;

                &:hover{
                    .highlight-title{
                        color:$highlights-primary-dark;
                    }
                }

                .highlight-title{
                    color: $effects-brown-a;
                    opacity: 60%;
                    width: 95%;
                    height: 100%;
                    object-fit: cover;
                }
                
                .title-event{
                    display: flex;
                    color: $text-invert;
                    fill: $text-invert;
                } 
            }
        }
    }
    .btn-event{
        align-self: flex-end;
    }
}

@media (max-width:$breakpoint-tablet) {
    .events{

        .preamble-lg{
            max-width: 80%;
        }

        .cards-event{
            .event-card{
                width: 15.5rem;
            }
        }
    }
}
@media (max-width:$breakpoint-mobile) {
    .events{
        padding: $spacing-none $spacing-3xl;;
    }
}

/*Testionial*/
.testimonial{
    max-width: 45%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: $spacing-5xl;

    .testimonial-text{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative; 
        gap: $spacing-2xl;
    
        .quote{
            position: absolute;
            left: -10%;
            top: -50%;
            width: auto;
            height: 100%;
            z-index: 0;
            overflow: visible;
        }
        .preamble-5xl{
            position: relative;
            z-index: 1;
        }
        .name{
            display: flex;
            gap: $spacing-xs;
        }
    }
}

@media (max-width:$breakpoint-tablet) {
    .testimonial{
        max-width: 100%;
        padding: $spacing-10xl;

    }
}

/*To the adult*/

.to-the-adult{
    width: 100%;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-3xl;
    padding: $spacing-none $spacing-9xl;

    .landscape-section{
      display: flex;
      gap: $spacing-4xl; 
       
      .för-dig-som-vuxen{
        width: 80%;
        height: auto;
        background-image: url(../img/pictures/img-för-dig-som-vuxen.webp);
        background-size: cover;
        background-position: center;
        border-radius: $border-radius-lg $border-radius-none $border-radius-none $border-radius-lg;
      }

      .cards-section{
        width: 100%;
        display: flex; 
        flex-direction: column;
        gap: $spacing-3xl;

        .landscape-card{
            background-color: $background-brand;
            padding: $spacing-3xl $spacing-5xl;

            .title{
                display: flex;
                align-items: center;
                color: $text-invert;
                fill: $text-invert;

            }

            p{
                width: 70%;
                color: $text-invert;
            }

            &:first-child{
                border-top-right-radius: $border-radius-lg;
            }

            &:last-child{
                border-bottom-right-radius: $border-radius-lg;
            }
        }
      }
    }
}

@media (max-width:$breakpoint-tablet) {
    .to-the-adult{
        .landscape-section{
            .för-dig-som-vuxen{
                width: 100%;
                background-position: 80%;
            }
            .cards-section{
                .landscape-card{
                    .book-md{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width:$breakpoint-mobile){
    .to-the-adult{
        padding: $spacing-none $spacing-3xl;
        margin-top: 5rem;

        .landscape-section{
            flex-direction: column;
            gap: $spacing-lg;

            .för-dig-som-vuxen{
                height: 120px;
                width: 100%;
                border-radius: $border-radius-lg $border-radius-lg $border-radius-none $border-radius-none;
            }

            .cards-section{
                .landscape-card{
                &:first-child{
                border-top-right-radius: $border-radius-none;
            }

            &:last-child{
                border-radius: $border-radius-none $border-radius-none $border-radius-lg $border-radius-lg ;
            }

                }
            }
        }
    }
}


/*Donation*/
.donation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $spacing-3xl;
    padding: $spacing-none $spacing-9xl;
    margin-top: 11.625rem;
    margin-bottom: 11.625rem;

    .preamble-lg{
        max-width: 40%;
    }

    .donation-content{
        min-width: 60%;
        margin: auto;
        display: flex;
        justify-content: space-around;
        gap: $spacing-9xl;

        .donation-item{
            display: flex;
            flex-direction: column;
            align-items: center;
           } 
            .btn-donation{
                width: fit-content;
                border: $border-none;
                background-color: transparent;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;


                &:hover{
                    .under-link{
                    display: block;
                    }
                }

                .btn-text{
                    display: flex;
                }
                .under-link{
                    display: none;
                    height: 4px;
                    fill: $text-invert;
                } 
            }
    }
}
@media (max-width:$breakpoint-tablet) {
    .donation{
        .preamble-lg{
            max-width: 100%;
        }
    }
}

@media (max-width:$breakpoint-mobile) {
    .donation{
        padding: $spacing-none $spacing-3xl;
        margin-top: 5rem;
        .donation-content{
            flex-direction: column;
        }
    }
}


/*===================
FOOTER
===================*/
footer{
    display: flex;
    flex-direction: column;
    padding: $spacing-7xl $spacing-9xl;
    gap: $spacing-7xl;
    background-image: url(../img/graphic-element/footer.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
    .footer-top{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        
        .book-md{
            width: 40%;
        }
    }

    .footer-wrapper{
        display: flex;
        justify-content: flex-start;
        gap: $spacing-10xl;
        
        .footer-items{
            display: flex;
            flex-direction: column;
            gap: $spacing-xl;

            .footer-item{
            display: flex;
            flex-direction: column;
            gap: $spacing-lg;

            a{
                color: $text-primary !important;

                &:hover{
                    text-decoration: underline;
                }
            }

            }
        }
    }

        .footer-bottom{
            display: flex;
            justify-content: space-between;

            .footer-kakor{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: $spacing-5xl;

                .kakor{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: $spacing-sm;

                    a{
                        color: $text-primary !important;
                    }
                    
                    .under-link-kakor{
                        height: 4px;
                        width: 20%;
                    } 

                    .under-link-integritetspolicy{
                        height: 4px;
                        width: 70%;
                    } 
                }
            }

            .footer-logos{
               display: flex;
                justify-content: center;
                gap: $spacing-xl; 
            }
        }
}
@media (max-width:$breakpoint-tablet) {
    footer{
        padding: $spacing-10xl $spacing-5xl $spacing-7xl $spacing-5xl;
        background-image: url(../img/graphic-element/footer-tablet.svg);
        background-size: cover;
        background-position: center top;

        .footer-top{
           flex-direction: column;
           justify-content: flex-start;
           align-items: flex-start;
           gap: $spacing-5xl;

           img{
            display: block;
            height: 40px;
           }

           .book-md{
            width: 100%;
           }
        }
    }
}
@media (max-width:$breakpoint-mobile) {
    footer{
        justify-content: flex-start;
        padding: $spacing-10xl $spacing-7xl $spacing-7xl $spacing-5xl;
        background-image: url(../img/graphic-element/footer-mobile.svg);
        background-size: cover;
        .footer-wrapper{
            flex-direction: column;
            gap: $spacing-5xl;
        }
        .footer-bottom{
            flex-direction: column;
            gap: $spacing-2xl;
            
            .footer-logos{
                justify-content: space-between;
            }
        }
    }
}



